<template>
    <li class="food-item">
        <div class="header">
            <img :src="'/images/' + imageName" :alt="imageAlt" />
        </div>
        <div class="title">
            {{ title }}
        </div>
    </li>
</template>

<script>
export default {
    props: {
        imageName: {
            type: String,
            required: true
        },
        imageAlt: {
            type: String,
            required: true
        },
        title: {
            type: String,
            required: true
        }
    }
}
</script>

<style>
div {
    text-align: center;
}
.food-item {
    list-style:none;
    cursor: pointer;
}
.food-item .header img{
    width: 100px;
    height: 100px;
}
.food-item .title {
    font-size: 20px;
    font-weight: 600;
}
</style>
