<template>
    <div>
        <div id="sk_header">오늘 뭐먹을까?</div>
        <Nuxt />
        <div id="copyright">
            <p>경기도 안산시 상록구 XX동 1111호<br />
                010-1111-1111 / sksskek9604@gmail.com<br />
                Copyright(c) sksskek

            </p>
        </div>
    </div>
</template>
<style>

#sk_header{
    text-align: left;
    padding: 25px 15px;
    font-weight: 800;
    font-size: 36px;
    color: #333333;
}
#copyright {
    text-align: left;
    padding: 15px;
    background-color: #333333;
    color: aliceblue;
    font-size: 11px;
    line-height: 160%;
}
</style>
