<template>
    <div class="clear-both">
        <div class="content-left">
            <ul class="food-item-group clear-both">
                <FoodItem
                    v-for="(item, index) in foodList"
                    v-bind:key="'foodItem:' + index"
                    v-bind:imageName="item.foodImg"
                    v-bind:imageAlt="item.foodImgAlt"
                    v-bind:title="item.foodName"
                    @click.native="choiceFood(index)"
                />
            </ul>
        </div>
        <div class="content-right">
            <div v-if="selectedIndex != null">
                <div>음식명 : {{foodList[selectedIndex].foodName}}</div>
                <div>칼로리 : {{foodList[selectedIndex].calories}}</div>
                <div>설명 : {{foodList[selectedIndex].description}}</div>
                <div>효능 : {{foodList[selectedIndex].efficacy}}</div>
                <button type="button"
                        style="background-color: pink; font-weight:900; font-size: 32px; border-radius: 0.5em; padding: 5px 20px;"
                        onclick="alert('야호')">
                    눌러봐!
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexPage',
    data() {
        return { // 묵업 데이터의 배열 // 클릭했을 때 현재 선택된 데이터를 넣어주어야한다.
            selectedIndex: null,
            foodList: [
                { foodName: '사과', foodImg: 'apple.jpg', foodImgAlt:'사과', calories: 50, description: '사과는 빨개', efficacy: '백설공주의 주식이긴 한데, 예뻐지진 않습니다.'},
                { foodName: '고기', foodImg: 'meat.png', foodImgAlt:'고기', calories: 230, description: '일류가 되려는자, 먼저 육류가 되어라', efficacy: '단백질 최고!'},
                { foodName: '바나나', foodImg: 'banana.jpg', foodImgAlt:'바나나', calories: 50, description: '바나나는 길어', efficacy: '원숭이 흉내내면 귀엽다.'},
                { foodName: '사과', foodImg: 'apple.jpg', foodImgAlt:'사과', calories: 50, description: '사과는 빨개', efficacy: '백설공주의 주식이긴 한데, 예뻐지진 않습니다.'},
                { foodName: '샐러드', foodImg: 'salad.jpg', foodImgAlt:'샐러드', calories: 180, description: '다이어트 한다면..', efficacy: '코끼리처럼 되기 싫다면 적정량을 드세요.'},
                { foodName: '바나나', foodImg: 'banana.jpg', foodImgAlt:'바나나', calories: 50, description: '바나나는 길어', efficacy: '원숭이 흉내내면 귀엽다.'},
                { foodName: '사과', foodImg: 'apple.jpg', foodImgAlt:'사과', calories: 50, description: '사과는 빨개', efficacy: '백설공주의 주식이긴 한데, 예뻐지진 않습니다.'},
                { foodName: '고기', foodImg: 'meat.png', foodImgAlt:'고기', calories: 230, description: '일류가 되려는자, 먼저 육류가 되어라', efficacy: '단백질 최고!'},
                { foodName: '샐러드', foodImg: 'salad.jpg', foodImgAlt:'샐러드', calories: 180, description: '다이어트 한다면..', efficacy: '코끼리처럼 되기 싫다면 적정량을 드세요.'},
                { foodName: '사과', foodImg: 'apple.jpg', foodImgAlt:'사과', calories: 50, description: '사과는 빨개', efficacy: '백설공주의 주식이긴 한데, 예뻐지진 않습니다.'},
                { foodName: '고기', foodImg: 'meat.png', foodImgAlt:'고기', calories: 230, description: '일류가 되려는자, 먼저 육류가 되어라', efficacy: '단백질 최고!'},
                { foodName: '바나나', foodImg: 'banana.jpg', foodImgAlt:'바나나', calories: 50, description: '바나나는 길어', efficacy: '원숭이 흉내내면 귀엽다.'},

            ]
        }
    },
    methods: { //기능을 하는 것 = 메서드
        choiceFood(index) { // javascript는 타입이 없음. (변수명)
            this.selectedIndex = index // 인덱스 받아와서 selectedIndex에 넣는것
        }
    }
}
</script>

<style>

div.content-left {
    float: left;
}

div.content-right {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

ul.food-item-group {
    list-style: none;
    margin: 30px;

}

.clear-both:after {
    content: '';
    display: block;
    clear: both;
}

ul.food-item-group li {
    float: left;
}
</style>

